@tailwind base;
@tailwind components;
@tailwind utilities;

.project{
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  
  .map {
    background-image: url('https://source.unsplash.com/dWwZBcjw3GE');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    height: 90vh;
  }

  .faq {
    background-image: url('https://source.unsplash.com/oZuBNC-6E2s');
    background-size: cover; /* Adjust based on your preference */
    background-position: center; /* Adjust based on your preference */
    background-repeat: no-repeat; 
    height: 80vh;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d4d5d6; /* Change the color as needed */
    border-radius: 8px;
    border: 3px solid #c5cbcf; /* Change the color as needed */
  }

  /* .glass{
    background: linear-gradient(100deg, #45C7FB, #16298F);
    color: transparent;
    border-radius: 10px;
    border: 2px solid rgba(252, 62, 62, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
  } */